/*HIDE ALL PAGES DEFAULT*/
#home, #sidebar, #selectDish, #dishDetails, #dinnerOverview, #instructions {
	position: relative;
	top: 71px;
	left: 0;
	display: none;
	height: 100%;
}

#home {
	display: block;
}

html, body {
}
hr {
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;
	border: 0;
	border-top: 1px #121212 solid;
	 
}
.button {
	border: 1px solid #121212;
	border-radius: 3px;
	background-color: #faac58;
	text-align: center;
}
.dishItem {
	padding: 0em;
	margin: 1em;
}
.dishImage{
	border: 1px solid #121212;
}
.dishName {
	border: 1px solid #121212;
	border-top: 0;
	background-color: #ccc;
}


#container {
	height: 100vh;
}

#header {
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255,255,255, 0.8);
	border-bottom: 2px solid #121212;
	z-index: 100;
}
#header small {
	font-style: italic;
}

#start {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	background: url('images/bg.jpg');
	background-size: cover;
}

#startDescription {
	margin-left: 1em;
	padding: 2em;
	background: rgba(255,255,255, 0.8);
	margin-top: 30vh;
}

#sidebar{
/*	height: 100vh; */
	z-index: 100;
  	height: 100vh;
	border-right: 2px solid #121212;
}
 @media only screen and (max-width:960px){
 	#start {
	 	height: 100vh;
		background: url('images/bg.jpg');
		background-size: cover;
	}
	#sidebar {
		height: auto;
		margin-top: 5em;
	}
}
#sidebarTableHeader {
	background: #ccc;
	border: 1px	 solid #121212;
}
.table {
	display: table;
	margin: 1em 0;
}
.tableRow {
	display: table-row;
	height: 2em;
}
#guestCount {
	width: 3em;
}

#selectDishHeader {
	padding-bottom: 1em;
	background-color: PapayaWhip;
	border-bottom: 2px solid #121212;
}

#selectDishList {
	height: 100vh;
	padding: 2em;
}

#dishDetails {
	padding: 1em;
	height: 100vh;
}

#ingredients {
	height: auto;
	padding: 2em;
	background-color: PapayaWhip;
}

#verticalLine {
	border-left: thick solid #ff0000;
}

#overviewHeader{
	padding: 1.5em;
	margin-bottom: 1em;
	border-bottom: 2px solid #121212;
	background-color: PapayaWhip;
}
#overviewHeader .button {
	display: block;
}
#overviewHeader h3 {
	display: inline;
}

#overviewTotal {
	border-left: 2px solid #121212;
}

#printRecipe {
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}